<%- include('header'); %>

<div>
    <a href="/">返回首页</a>
</div>
<div>
    <h5><%= post.title %></h5>
    <div><%- post.content%></div>
    <a href="/post/<%= post._id %>/edit">编辑</a>
    <a href="/post/<%= post._id %>/remove">删除</a>
    创作于: <%= new Date(post.date).toLocaleDateString() %>   
</div>
<div>
    <form action="/post/<%= post._id %>/comment" method="post">
        <label>评论:
            <textarea rows="10" cols="10" name="comment"></textarea>
        </label>
        <label>用户名:
            <input type="input" name="name" />
        </label>
        <input type="submit" value="提交评论"/>
    </form>
</div>
<div>
    <h1>评论区:</h1>
    <% comments.forEach(function(comment) { %>
        <div>
            <p><%= comment.comment%></p>
            <p>来自<%= comment.author %></p>
            <p>时间: <%= new Date(comment.time).toLocaleDateString() %> </p>
        </div>
    <% }) %>
</div>

<%- include('footer'); %>