<%- include('header'); %>

<div>
    <a href="/post">发表文章</a>
</div>
<div>
    <% posts.forEach(function(post){ %> 
        <div>
            <a href="/post/<%= post._id %>"><%= post.title %></a>
            <div><%- post.content%></div>
            <a href="/post/<%= post._id %>/edit">编辑</a>
            <a href="/post/<%= post._id %>/remove">删除</a>
            创作于: <%= new Date(post.date).toLocaleDateString() %>
        </div>
    <% }) %>
</div>

<%- include('footer'); %>